/* ********************************************************************************************
    Design for a width of 1400px and above
*********************************************************************************************** */

@media only screen and (max-width: 1920px) and (min-width: 1400px) {
}  

/* ********************************************************************************************
    Design for a width of 768px and above
*********************************************************************************************** */

@media only screen and (min-width: 768px) {
}

/* ********************************************************************************************
    Design for a width of 992px and above
*********************************************************************************************** */

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* ********************************************************************************************
    Design for a width of 12000px and above
*********************************************************************************************** */

@media only screen and (min-width: 1200px) {    
    
}

/* ********************************************************************************************
    Design for a width of 1200px and below
*********************************************************************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px)  {
}

/* ********************************************************************************************
    Design for a width of 1024px and below
*********************************************************************************************** */

@media only screen and (max-width: 1024px) {
}

/* ********************************************************************************************
    Design for a width of 992px and below
*********************************************************************************************** */

@media only screen and (min-width: 768px) and (max-width: 991px)  {
}


/* ********************************************************************************************
    Design for a width of 991px and below
*********************************************************************************************** */

@media only screen and (max-width: 991px) {   
}

/* ********************************************************************************************
    Design for a width of 767px and below
*********************************************************************************************** */

@media only screen and (max-width: 767px) {
  .h5, h5 {
    font-size: 1.125rem;
  }
}


/* ********************************************************************************************
    Design for a width of 639px and below
*********************************************************************************************** */

@media only screen and (max-width: 639px) {
}

/* ********************************************************************************************
    Design for a width of 500px and below
*********************************************************************************************** */

@media only screen and (min-width: 576px) {
    
}

/* ********************************************************************************************
    Design for a width of 520px and below
*********************************************************************************************** */

@media only screen and (min-width: 480px) and (max-width: 520px)  {
}

/* ********************************************************************************************
    Design for a width of 479px and below
*********************************************************************************************** */

@media only screen and (max-width: 479px) {
       
}

/* ********************************************************************************************
    Design for a width of 380px and below
*********************************************************************************************** */

@media only screen and (max-width: 380px) {
    
}

/* ********************************************************************************************
    Design for a width of 320px and below
*********************************************************************************************** */

@media only screen and (max-width: 320px) {    
}