.app-sidebar {
  width: 240px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.01);
  padding-top: 10px;
  border-right: 1px solid #eee;

  .navbar-brand {
    position: fixed;
    top: 10px;
    left: 8px;
    display: block;
  }

  @media (max-width: 767px) {
    position: absolute;
    min-height: 100vh;
  }

  .navbar {
    border-width: 0;
    padding: 0;
    padding-bottom: 70px;
    width: 100%;
  }

  .navbar-nav {
    > li {
      padding: 0;
      margin: 5px 0;

      > a {
        display: block;
        transition: all .2s ease-in-out;
        font-size: 15px;
        font-weight: 600;
        color: #777;
        text-decoration: none;
        border-left: 3px solid transparent;
        padding: 17px 18px;

        .fa-fw {
          margin-right: 12px;
          opacity: 0.85;
        }

        &:hover {
          color: #444;
        }
      }

      &.active {
        > a {
          color: $primary;
          border-left-color: $primary;
          background-color: #f2f7fa;
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0;
  }
}
